{% extends "__layout.twig" %}

{% block content %}
    <h1>Добавление нового типа</h1>
    <hr>

    {% if message %}
    <div class="alert alert-info">
    {{message}}
    <a href="/?type={{ name }}">Открыть новый тип</a>
    </div>
    {% endif %}

    <form action="" enctype="multipart/form-data" method="POST" class="row g-3">
        <div class="col">
            <label class="form-label">Название</label>
            <input type="text" class="form-control" name="type_name">
        </div>
        <div class="mb-3">
            <label class="form-label">Картинка</label>
            <input class="form-control" type="file" name="image">
        </div>
        <div class="col-12 text-end">
            <button type="submit" class="btn btn-primary">Добавить</button>
        </div>
    </form>

{% endblock %}